@(id:Long = 0, isPublic: Boolean = true)

@head = {
    <script type="application/javascript" src="@routes.Assets.at("js/lib/bootstrap.min.js")"></script>
   @* <!--<link href="@routes.Assets.at("css/bootplus.css")" rel="stylesheet" media="screen">-->*@
}

@body = {
    <!-- Post template-->
  @*  <div id="loadtemplate" hidden="hidden" class="panel panel-primary" data-wall-post="">
            <!--Panel Header-->
        <div class="panel-heading">
            <h4 class="postheader"></h4>
        </div>
            <!--Panel Body-->
        <div class="panel-body post-body">
            <p class="post-content"></p>
        </div>
            <!--Panel Footer-->
        <div class="panel-footer clearfix">
            <div class="btn-toolbar pull-left" role="toolbar">
                <a class="btn btn-default disabled groupbtn"></a>
                <a id="time" class="btn btn-sm disabled"></a>
            </div>

        </div> <!--End footer-->
    </div> <!-- End Post template-->
*@
    <div id="loadtemplate" data-wall-post="" class="card" hidden="hidden">
        <h3 class="card-heading simple postheader"></h3>
        <div class="card-body">
            <p class="loadbody"></p>
        </div>
        <div class="card-actions">
            <a class="pull-left solarised disabled rendertt group" data-toggle="tooltip" data-title="Shown group"></a>
            <a class="pull-right solarised rendertt sender" data-toggle="tooltip" data-title=""></a>
        </div>
    </div>

    <!-- page content -->
    <div class="container center-block">
        <div class="row">
                <!--middle content area-->
            <div id="middlecontentarea" class="col-md-8 col-md-offset-2">

                <div id="errorpanel" class="alert alert-danger" hidden="hidden" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <p></p>
                </div>

                <div id="loadingpanel" class="panel panel-default" hidden="hidden">
                    <div class="panel-body">
                        <img class="loading" src="@routes.Assets.at("img/ajax-loader.gif")">
                        <p class="nopost" hidden="hidden" style='text-align : center ;'>No posts found.<p>
                    </div>
                </div>
                <div id="maincontent"></div>
                <div id="paginationarea" align="center">
                    <nav>
                        <ul class="pagination">
                            <li id="prev">
                                <a id="prevlink" href="" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li id="next">
                                <a id="nextlink" href="" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div><!--End column-->
        </div> <!-- End row -->
    </div> <!-- End container -->

}

@include = {
    <script src="@routes.Assets.at("js/memorial.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("css/memorial.css")">
}

@if(isPublic){
    @public.publicMaster("Memorial")(head)(body)(include)
} else {
    @logged.loggedMaster("Memorial")(head)(body)(include)
}
