@(contactList : List[model.Contact]= List.empty[model.Contact],groupList: List[model.Group]=List.empty[model.Group])

@head = {<!--  Head Block  -->
    <link rel="stylesheet" href="@routes.Assets.at("css/contacts.css")">
    <script type="text/javascript" src="@routes.Assets.at("js/lib/bootstrap.min.js")"></script>
}<!--  Head Includes END -->

@body = {<!--  Body Block  -->
    <div class="container center-block">
        <div class="row">
            <div role="tabpanel" class="col-md-8 col-md-offset-2">

                    <!-- Nav tabs -->
                <ul role="tablist" class="nav nav-tabs navi-bottom" id="tabs">
                    <li role="presentation" class="active"><a href="#contacts" aria-controls="contacts" data-toggle="tab">Contacts</a></li>
                    <li role="presentation"><a href="#groups" aria-controls="groups" data-toggle="tab">Groups</a></li>
                </ul>

                <div class="tab-content">
                        <!--Contacts tab-->
                    <div role="tabpanel" class="tab-pane fade in active row" id="contacts">

                        @for(c <-contactList){
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="/editcontact/@c.id.get.toString" >
                                    <img src="http://www.gravatar.com/avatar/@c.gravatarHash/?s=300&d=mm">
                                </a>
                                <div class="caption">
                                    <h5 class="text-center">@c.name @c.surname</h5>
                                </div>
                            </div>
                        </div>
                        }
                        @*<div class="col-md-3">
                            <div class="thumbnail">
                                <a href="/editcontact/1" >
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                </a>
                                <div class="caption">
                                    <h5 class="text-center">Contact1</h5>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                </a>
                                <div class="caption">
                                    <h5 class="text-center">Contact2</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                </a>
                                <div class="caption">
                                    <h5 class="text-center">Contact3</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                </a>
                                <div class="caption">
                                    <h5 class="text-center">Contact4</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                </a>
                                <div class="caption">
                                    <h5 class="text-center">Contact5</h5>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="/addcontact">
                                    <img src="@routes.Assets.at("img/plus.jpg")">
                                </a>
                                <div class="caption">
                                    <h5 class="text-center">Add new contact</h5>
                                </div>
                            </div>
                        </div>
                    </div><!--Contacts tab end -->
                    <!--Groups tab-->
                    <div role="tabpanel" class="tab-pane fade in row" id="groups">
                     @*   <div class="col-md-6 list-group">
                            <a href="/editgroup/1" class="list-group-item">Family<span class="badge">12</span></a>
                            <a href="/editgroup/2" class="list-group-item">Work<span class="badge">34</span></a>
                        </div>*@

                            <div class="col-md-12 list-group">
                            @for(g <- groupList) {
                                <a href="/editgroup/@g.id.get.toString"  class="list-group-item">@g.name<span class="badge">@g.members.length</span> </a>
                            }
                                <a href="/addgroup" class="list-group-item">Add new group<span class="glyphicon glyphicon-plus pull-right"></span></a>

                            </div>

                    </div><!--Groups tab end -->
                </div>

            </div>
        </div>
    </div>

}<!--  Body Block END -->

@include = {<!--  Script Includes  -->
    <script src="@routes.Assets.at("/js/contacts.js")"></script>
}<!--  Script Includes END -->


@loggedMaster("Contacts")(head)(body)(include)