@(group: model.Group, page: String = "Add", contacts: List[model.Contact])

@head = {
    <!--  Head Block  -->
    <link rel="stylesheet" href="@routes.Assets.at("css/select2.min.css")" />
    @*<link rel="stylesheet" href="@routes.Assets.at("css/select2-bootstrap.css")">*@
    @*<link rel="stylesheet" href="@routes.Assets.at("css/autocomplete.css")">*@
    <script type="text/javascript" src="@routes.Assets.at("js/lib/bootstrap.min.js")"></script>
    @*<script type="text/javascript" src="@routes.Assets.at("js/lib/typeahead.bundle.js")"></script>*@
    <script type="text/javascript" src="@routes.Assets.at("js/lib/bootstrapValidator.min.js")"></script>


    <script src="@routes.Assets.at("js/lib/select2.full.js")"></script>`

}<!--  Head Includes END -->

@body = {
    <!--  Body Block  -->
    <div class="container center-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">@page group</h4>
            </div>


            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <form class="form-horizontal" id="editform">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="name">Name</label>
                                <div class="col-sm-8">
                                    <input id="groupId" type="hidden" value="@group.id">
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Name" value="@group.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-1">
                                    <button class="btn btn-default" type="submit"><b>Save</b></button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-danger" type="button" onclick="submitDeleteReq ( )"><b>
                                        DELETE</b></button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Group Members</h4>
            </div>
            <div class="row panel-body center-block">
                <div class="list-group col-md-12 ">
                    @for(c <- group.members) {
                        <a href="/editcontact/@c.id" class="list-group-item">@c.name @c.surname <button type="button" class="close deleteContactBtn" value="@c.id">&times;</button></a>
                    }
                    <a href="#" class="list-group-item" onclick="openmodal ( )" @*data-toggle="modal" data-target="#addmodal"*@>Add contact to this group <span class="glyphicon glyphicon-plus pull-right"></span> </a>

                    <div class="modal fade" id="addmodal" role="dialog" aria-hidden="true"><!--  Contacts modal view  -->
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title">Add contact to this group</h3>
                                </div>

                                <div class="modal-body">
                                    <div class="container-fluid">
                                    <div class="col-md-10 col-md-offset-1">
                                    @*<div class="form-horizontal" >*@

                                        <div class="form-group">
                                            <select id="selectcontact" class="form-control">
                                            @for(c <- contacts) {
                                                <option value="@c.id.get">@c.name @c.surname</option>
                                            }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <button id="add" class="form-control" onclick="addmember ( )">Add</button>
                                        </div>
                                    @*</div>*@
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}<!--  Body Block END -->

@include = {
    <!--  Script Includes  -->
    <script src="@routes.Assets.at("js/group.js")"></script>

}<!--  Script Includes END -->

@loggedMaster(page + " Group")(head)(body)(include)