@(title: String)(header:Html)(content: Html)(bodyIncludes:Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <section class="header">@header</section>
    </head>
    <body>
        <!--  Navbar  -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container center-block">
                <a class="navbar-brand" href="/">Vasiyet</a>
                <ul class="nav navbar-nav navbar-right">
                    <li><button class="btn btn-default navbar-btn" type="button" id="logout" onclick="logout()">Logout</button></li>
                </ul>
            </div>
        </nav>


        <!--  Body content  -->
        <section class="content">@content</section>

        <!--  Common includes + application includes  -->
        <script src="@routes.Assets.at("js/util.js")"></script>
        <section class="bodyIncludes">@bodyIncludes</section>
    </body>
</html>
