@(loggedUser: Long, posts: List[model.Post] = List.empty, groups: List[model.Group] = List.empty)

@head = {
    <link rel="stylesheet" href="@routes.Assets.at("css/select2.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/select2-bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/posts.css")">
    <script type="application/javascript" src="@routes.Assets.at("js/lib/bootstrap.min.js")"></script>
    <script type="application/javascript" src="@routes.Assets.at("js/lib/select2.full.js")"></script>
    <script type="application/javascript" src="@routes.Assets.at("js/lib/jquery.autosize.js")"></script>

}

@body = {
    <!-- Post panel-->
    <div id="loadtemplate" class="panel panel-primary hidden" data-wall-post="">
            <!--Panel Header-->
        <div class="panel-heading">
            <button type='button' class='close deletepost'>×</button>
            <h4 class="postheader"></h4>
        </div>
            <!--Panel Body-->
        <div class="panel-body new-post-body">
            <p class="post-content" style="resize : none"></p>
        </div>
            <!--Panel Footer-->
        <div class="panel-footer clearfix">
            <div class="btn-toolbar pull-left" role="toolbar">
                <a class="btn btn-default disabled"></a>
                <a id="time" class="btn btn-sm disabled"></a>
            </div>
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group">
                    <a class="btn btn-danger btn-editPost" ><span class="glyphicon glyphicon-edit"></span></a>
                </div>
            </div>

        </div> <!--End footer-->
    </div> <!-- End Panel-->

    <!-- page content -->
    <input id="loggedUser" type="hidden" value="@loggedUser">
    <div class="container center-block">
        <div class="row">
                <!--middle content area-->
            <div id="middlecontentarea" class="col-md-8 col-md-offset-2">

                    <!-- New post panel-->
                <div  id="newtemplate" class="panel panel-info">
                        <!--Panel Heading-->
                    <div class="panel-heading">
                        <h4 class="postheader"><input class="new-post-title transparent-text-area" placeholder="Click here to title your new post."></h4>
                    </div>
                        <!--Panel body-->
                    <div class="panel-body new-post-body">
                        <textarea class="new-post-content post-content" role="textbox" placeholder="Write your post here." style="resize : none"></textarea>

                    </div><!-- End Body-->
                    <div class="panel-footer clearfix">
                            <!-- Left side buttons-->
                        <div class="btn-toolbar pull-left" role="toolbar">
                            <select class="btn btn-default dropdown-toggle"><span class="glyphicon glyphicon-user"></span><span class="caret"></span>
                                @for(g <- groups) {
                                    <option value="@g.id.get">@g.name</option>
                                }
                            </select>

                        </div>

                            <!-- Right side buttons-->
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <div class="btn-group">
                                <a class="btn btn-info btn-newImage"><span class="glyphicon glyphicon-picture"></span></a>
                            </div><div class="btn-group">
                            <a class="btn btn-success btn-newPostSave" ><span class="glyphicon glyphicon-floppy-disk"></span></a>
                        </div>
                        </div>

                    </div> <!--End footer-->
                </div> <!-- End New Post Panel-->

                <div id="loadingpanel" class="panel panel-default">
                    <div class="panel-body">
                        <img class="loader" src="@routes.Assets.at("img/ajax-loader.gif")">
                        <p hidden="true" style='text-align: center;'>No posts found.<p>
                    </div>
                </div>

            </div><!--End column-->
        </div> <!-- End row -->
    </div> <!-- End container -->

}

@include = {
    <script src="@routes.Assets.at("js/posts.js")"></script>

}

@loggedMaster("Wall")(head)(body)(include)