@(loggedUser: Long, posts: List[model.Post] = List.empty, groups: List[model.Group] = List.empty)

@head = {
    <link rel="stylesheet" href="@routes.Assets.at("css/select2.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/select2-bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/posts.css")">
    <script type="application/javascript" src="@routes.Assets.at("js/lib/bootstrap.min.js")"></script>
    <script type="application/javascript" src="@routes.Assets.at("js/lib/select2.full.js")"></script>
    <script type="application/javascript" src="@routes.Assets.at("js/lib/jquery.autosize.js")"></script>

}

@body = {
    <!-- Post template-->
    <div id="loadtemplate" class="panel panel-primary" hidden="hidden" data-wall-post="">
            <!--Panel Header-->
        <div class="panel-heading">
            <button type='button' class='close deletepost'>×</button>
            <h4 class="postheader"></h4>
        </div>
            <!--Panel Body-->
        <div class="panel-body new-post-body">
            <p class="post-content" style="resize : none"></p>
        </div>
            <!--Panel Footer-->
        <div class="panel-footer clearfix">
            <div class="btn-toolbar pull-left" role="toolbar">
                <a class="btn btn-default disabled groupbtn"></a>
                <a id="time" class="btn btn-sm disabled"></a>
            </div>
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group">
                    <a class="btn btn-danger btn-activateEdit" ><span class="glyphicon glyphicon-edit"></span></a>
                </div>
            </div>

        </div> <!--End footer-->
    </div> <!-- End Post template-->

    <!-- Edit template -->
    <div id="edittemplate" class="panel panel-danger" hidden="hidden" data-wall-post="">
            <!--Panel Header-->
        <div class="panel-heading">
            <button type='button' class='close canceledit'>×</button>
            <h4 class="postheader"><input class="edit-post-title transparent-text-area" placeholder="Write your new title here."></h4>
        </div>
            <!--Panel Body-->
        <div class="panel-body edit-post-body">
            @*<p class="post-content" style="resize : none">edit tmpl</p>*@
            <textarea class="edit-post-content post-content " role="textbox" placeholder="Write your new post here." style="resize : none"></textarea>        </div>
            <!--Panel Footer-->
        <div class="panel-footer clearfix">
            <div class="btn-toolbar pull-left" role="toolbar">
                <select id="editdropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span>
                    <option value="0">All</option>
                </select>
            </div>
            <div class="btn-toolbar pull-right" role="toolbar">
                <div class="btn-group">
                    <a class="btn btn-success btn-editSave" ><span class="glyphicon glyphicon-floppy-disk"></span></a>
                </div>
            </div>

        </div> <!--End footer-->
    </div> <!-- End Edit Template-->

    <!-- page content -->
    <input id="loggedUser" type="hidden" value="@loggedUser">
    <div class="container center-block">
        <div class="row">
                <!--middle content area-->
            <div id="middlecontentarea" class="col-md-8 col-md-offset-2">

                <div id="errorpanel" class="alert alert-danger" hidden="hidden" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <p></p>
                </div>

                    <!-- New post panel-->
                <div id="newtemplate" class="panel panel-info" hidden="hidden">
                        <!--Panel Heading-->
                    <div class="panel-heading ">
                        <h4 class="postheader"><input class="new-post-title transparent-text-area" placeholder="Click here to title your new post."></h4>
                    </div>
                        <!--Panel body-->
                    <div class="panel-body new-post-body ">
                        <textarea class="new-post-content post-content " role="textbox" placeholder="Write your post here." style="resize : none"></textarea>

                    </div><!-- End Body-->
                    <div class="panel-footer clearfix">
                            <!-- Left side buttons-->
                        <div class="btn-toolbar pull-left" role="toolbar">
                            <select id="groupsdropdown" class="btn btn-default dropdown-toggle"><span class="glyphicon glyphicon-user"></span><span class="caret"></span>
                                <option value="0">All</option>
                            </select>

                        </div>

                            <!-- Right side buttons-->
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <div class="btn-group">
                                <a class="btn btn-info btn-newImage"><span class="glyphicon glyphicon-picture"></span></a>
                            </div><div class="btn-group">
                            <a class="btn btn-success btn-newPostSave" ><span class="glyphicon glyphicon-floppy-disk"></span></a>
                        </div>
                        </div>

                    </div> <!--End footer-->
                </div> <!-- End New Post Panel-->

                <div id="loadingpanel" class="panel panel-default">
                    <div class="panel-body">
                        <img class="loading" src="@routes.Assets.at("img/ajax-loader.gif")">
                        <p class="nopost" hidden="true" style='text-align : center ;'>No posts found.<p>
                    </div>
                </div>
                <div id="maincontent"></div>
                <div id="paginationarea" align="center">
                    <nav>
                        <ul class="pagination">
                            <li id="prev">
                                <a id="prevlink" href="" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @*<li><a href="?p=1">1</a></li>*@
                            @*<li><a href="?p=2">2</a></li>*@
                            <li id="next">
                                <a id="nextlink" href="" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div><!--End column-->
        </div> <!-- End row -->
    </div> <!-- End container -->

}

@include = {
    <script src="@routes.Assets.at("js/posts.js")"></script>

}

@loggedMaster("Wall")(head)(body)(include)
