
h3.panel-title.post-title {
    margin-right: 20px;
}

h3.panel-title.post-title:focus {
    color:#000000;
    background:#ffffff;
    outline: none;
}
h3.panel-title.post-title:hover {
    background:rgba(255,255,255,0.1);
}
h3.panel-title.post-title:focus:hover {
    color:#000000;
    background:#ffffff;
    outline: none;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
     width: 940px;
}
/*div.panel-body:focus {*/
    /*background: rgba(211, 211, 211, 0.5);*/
/*}*/

/*div.panel-body:hover {*/
    /*background: rgba(0, 150, 211, 0.3);*/
/*}*/

body {
    margin: 0;
    /*font-family: Roboto, arial, sans-serif;*/
    /*font-size: 13px;*/
    line-height: 20px;
    color: #444444;
    background-color: #e5e5e5;
}

.post-content {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    line-height: 18px;
    font-size: 14px;
}

.new-post-body {
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 8px;
    word-wrap: break-word;
    overflow: hidden;
}

.transparent-text-area {
    background: none;
    outline: none;
    border: none;
    width: 91.67%;
}

.postheader {
    margin: 0;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#time {
    font-size: 7pt;
}