<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <script type="text/javascript" src="@routes.Assets.at("js/bootstrap.min.js"))"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container center-block">
            <a class="navbar-brand" href="#">Vasiyet</a>
            <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-default navbar-btn" type="button" id="logout">Logout</button></li>
            </ul>
        </div>
        </nav>
        <div class="container center-block">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">@*use panel with footer instead*@
                                    <a href="#" class="thumbnail">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                    </a>
                                    <div class="caption">
                                        <h5 class="text-center">Contact1</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#" class="thumbnail">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                    </a>
                                    <div class="caption">
                                        <h5 class="text-center">Contact2</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#" class="thumbnail">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                    </a>
                                    <div class="caption">
                                        <h5 class="text-center">Contact3</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#" class="thumbnail">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                    </a>
                                    <div class="caption">
                                        <h5 class="text-center">Contact4</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#" class="thumbnail">
                                    <img src="@routes.Assets.at("img/thumbnail.jpg")">
                                    </a>
                                    <div class="caption">
                                        <h5 class="text-center">Contact5</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="#" class="thumbnail">
                                    <img src="@routes.Assets.at("img/plus.jpg")">
                                    </a>
                                    <div class="caption">
                                        <h5 class="text-center">Add new contact</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>