@(id : Long, page :String= "Add")
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Contacts</title>
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-theme.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/autocomplete.css")">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/lib/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/lib/typeahead.bundle.js")"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container center-block">
        <a class="navbar-brand" href="/">Vasiyet</a>
        <ul class="nav navbar-nav navbar-right">
          <li><button class="btn btn-default navbar-btn" type="button" id="logout" onclick="logout()">Logout</button></li>
        </ul>
      </div>
    </nav>

    <div class="container center-block">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">@page group</h4>
        </div>


        <div class="panel-body">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <form class="form-horizontal" id="editform">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="name">Name</label>
                  <div class="col-sm-8">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-1">
                    <button class="btn btn-default" type="button"><b>Save</b></button>
                  </div>
                  <div class="col-sm-2">
                    <button class="btn btn-danger" type="button"><b>DELETE</b></button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
        </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Group Members</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 list-group">
                <a href="#" class="list-group-item">Contact1</a>
                <a href="#" class="list-group-item">Contact2</a>
              </div>
              <div class="col-md-6 list-group">
                <a href="/#" class="list-group-item">Contact3</a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#addmodal">Add contact to this group <span class="glyphicon glyphicon-plus pull-right"></span> </a>


                <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6>Add contact to this group</h6>
                      </div>
                      <div class="modal-body">
                        <input id="addcontact" class="form-control" type="text" autocomplete="off" >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="@routes.Assets.at("js/contacts.js")"></script>
    <script src="@routes.Assets.at("js/group.js")"></script>
  </body>
</html>