@(error: String = "1")

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="@routes.Assets.at("register.css")">
        <link rel="stylesheet" href="@routes.Assets.at("dist/css/bootstrap.min.css")">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrapValidator.js")"></script>
    </head>
    <body>
        <div class="container top_margin">
            <div class="panel-body">
                <form class="form-horizontal col-sm-offset-3" id="loginForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email">Email</label>
                        <div class="col-sm-6">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="password">Password</label>
                        <div class="col-sm-6">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-6">
                            <button type="button" id="submit" onclick="validate()" class="btn btn-default" >Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="@routes.Assets.at("javascripts/login.js")"></script>
    </body>
</html>